.App {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  height: 700px;
  width: 1500px;
  background: green;
  border: solid 5px brown;
  border-radius: 10px;
  position: relative;
}

.card {
  height: 100px;
}

#myHand {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

#currentTrick {
  position: absolute;
  top: 200px;
  height: 300px;
  width: 300px;
  left: 600px;
  background: red;
}

#topTrickCard {
  position: absolute;
  top: 0;
  left: 109px;
}

#leftTrickCard {
  position: absolute;
  bottom: 100px;
  left: 0;
}

#rightTrickCard {
  position: absolute;
  bottom: 100px;
  right: 0;
}

#bottomTrickCard {
  position: absolute;
  bottom: 0;
  left: 109px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
